@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
  --clr-main-bg: hsl(217, 54%, 11%);
  --clr-card-bg: hsl(216, 50%, 16%);
  --clr-line: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--clr-main-bg);
  display: grid;
  place-content: center;
}

.card {
  margin: 50px;
  width: 370px;
  border-radius: 10px;
  background-color: var(--clr-card-bg);
  padding: 20px;
}

.card .content .text {
  margin-top: 15px;
}

.card .content .text h3 {
  color: var(--clr-white);
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
}

.card .content .text p {
  color: var(--clr-soft-blue);
  font-weight: 300;
  font-size: 18px;
  margin-right: 20px;
}

.flex-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.flex-info .eth-value,
.flex-info .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-info img {
  margin-right: 7px;
}

.eth-value p {
  color: var(--clr-cyan);
  font-weight: 600;
}

.time p {
  color: var(--clr-soft-blue);
  font-weight: 600;
}

hr {
  color: var(--clr-line);
  margin-block: 20px;
}

.creator {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}

.creator img.creator-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--clr-white);
  margin-right: 15px;
}

.creator p {
  color: var(--clr-soft-blue);
}

.creator p span {
  color: var(--clr-white);
  font-weight: 600;
}
